@model IEnumerable<OasisWebApp.DTOs.FilmDto>

@{
    ViewData["Title"] = "Фильмы";
}

<h1>@ViewData["Title"]</h1>

<div class="text-left">
    @foreach (var film in Model)
    {
        <a asp-controller="Film" asp-action="Film" asp-route-Id="@film.FilmId">@film.Title</a>
        <br />
    }
</div>
