<!DOCTYPE html>
<html>
    <head>
        <link  href="D:\GitHub\CinemaNet-ASP.NET-Core-Web-App\OasisWebApp\OasisWebApp\wwwroot\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet"/>
        <link  href="D:\GitHub\CinemaNet-ASP.NET-Core-Web-App\OasisWebApp\OasisWebApp\wwwroot\css\site.css" rel="stylesheet" />
        <title>Main Page</title>
    </head>
    <body>
        <h1>
            Oasis Cinema Club
        </h1>
        <p>
            Добро пожаловать в клуб! Вы находитесь на сайте, посвященном дипломной работе выпускника СпбГУАП
            Никиты Калимова. Этот сайт был в разработке с 25.05 по 15.06. <br />
            Работа возобновилась в конце августа, когда Никита взялся за основы веб-дизайна.
        </p>
    </body>
</html>
